.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5176D6;
    @include font();

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;

        .navbar-coins {
            width: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            position: relative;

            img {
                width: 100px;
            }

            .coin-count {
                position: absolute;
                top: 35%;
                color: yellow;
            }
        }

        .navbar-spiner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .nav-spiner-img {
                padding-top: 5px;
                width: 100px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
            }

            .nav-spin-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                width: 180px;

                .nav-s-txt {
                    font-size: 12px;
                }
            }
        }

        .navbar-user {
            display: flex;
            flex-direction: column;
            align-items: center;

            .nav-us-img {
                width: 60px;
                border-radius: 20px;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }

}