* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Light.ttf");
}
.navbar {
  font-family: "roboto";
}
.navbar .container .nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .container .nav-link .logo {
  max-width: 100px;
  cursor: pointer;
}
.navbar .container .nav-link .search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar .container .nav-link .search-form form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar .container .nav-link .search-form form .nav-form-inp {
  width: 50%;
  position: relative;
}
.navbar .container .nav-link .search-form form .nav-form-inp .nav-form-close {
  position: absolute;
  display: flex;
  width: 25px;
  height: 25px;
  background: #000;
  transform: translateX(-15px);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.navbar .container .nav-link .search-form form .nav-form-inp input {
  width: 100%;
  height: 25px;
  border: 1px solid #000;
  border-radius: 3px;
  background: none;
  font-size: 14px;
  padding-left: 18px;
  outline: none;
}
@media (max-width: 750px) {
  .navbar .container .nav-link .search-form form .nav-form-inp {
    width: 80%;
  }
}
.navbar .container .nav-link .sign-search {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .navbar .container .nav-link .sign-search {
    width: 30%;
  }
}
@media (max-width: 450px) {
  .navbar .container .nav-link .sign-search {
    width: 40%;
  }
}
.navbar .container .nav-link .sign-search .nav-sign-btn {
  padding: 2px 8px 2px 8px;
  border: 1px solid #000;
  border-radius: 3px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}
.navbar .container .nav-link .sign-search .nav-basket {
  position: relative;
}
.navbar .container .nav-link .sign-search .nav-basket .nav-b-count {
  position: absolute;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  top: -15px;
  right: -8px;
}
.navbar .container .nav-link .sign-search .nav-sign-btn:hover {
  color: gray;
  border: 1px solid gray;
}
.navbar .container .nav-link .sign-search .nav-icon {
  font-size: 20px;
  cursor: pointer;
}
.navbar .container .links {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 450px) {
  .navbar .container .links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.navbar .container .links .default {
  color: #000;
  padding: 2px 5px 2px 5px;
  transition: 0.3s;
}
.navbar .container .links .default:hover {
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
}
.navbar .container .links .click {
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
}

.login {
  height: 100vh;
  font-family: "roboto";
}
.login .login-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-content .login-form {
  display: flex;
  gap: 10px;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  overflow: hidden;
  min-height: 400px;
}
@media (max-width: 700px) {
  .login .login-content .login-form {
    width: 90%;
    flex-direction: column;
    min-height: 600px;
  }
}
.login .login-content .login-form .login-form-left {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .login .login-content .login-form .login-form-left {
    max-width: 100%;
  }
}
.login .login-content .login-form .login-from-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}
@media (max-width: 700px) {
  .login .login-content .login-form .login-from-right {
    width: 100%;
  }
}
.login .login-content .login-form .login-from-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.login .login-content .login-form .login-from-right form .form-inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.login .login-content .login-form .login-from-right form .form-inp .inp-pass {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login .login-content .login-form .login-from-right form .form-inp .inp-pass .icon-pass {
  position: absolute;
  right: 10%;
  top: 3px;
  font-size: 18px;
  cursor: pointer;
}
.login .login-content .login-form .login-from-right form .form-inp input {
  width: 70%;
  height: 25px;
  border: 1px solid #000;
  border-radius: 3px;
  background: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
}
.login .login-content .login-form .login-from-right form .form-inp-pass {
  cursor: pointer;
  transition: 0.3s;
}
.login .login-content .login-form .login-from-right form .form-inp-pass:hover {
  color: gray;
}
.login .login-content .login-form .login-from-right form button {
  padding: 5px 10px 5px 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}
.login .login-content .login-form .login-from-right form button:hover {
  border: 1px solid grey;
  color: gray;
}
.login .login-content .login-form .login-from-right .login-reg {
  color: red;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */