* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 90vw;
    margin: 0 auto;
}

.App {
    background: rgb(79, 96, 112);
    background: linear-gradient(90deg, rgba(25, 40, 54, 1) 100%, rgba(79, 96, 112, 1) 0%);
    min-height: 100vh;
}


@import './scss/variables';
@import './scss/_mixin';
@import './components/navbar/_navbar';
@import './components/login/_login';