@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Light.ttf');
}

@mixin font() {
    font-family: 'roboto';
}


@mixin input ($width, $height) {
    outline: none;
    border: none;
    border-bottom: 1px solid $blue;
    width: $width;
    height: $height;
    padding-left: 10px;
    font-family: 'roboto';
    font-size: 18px;
}

@mixin button($width, $height) {
    min-width: $width;
    height: $height;
    border: none;
    background: $blue;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}